@import "./global-style.scss";

.nav-bar {
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem;
  padding-top: 0;
  margin-top: 2rem;
}

a {
  font-size: 16px;
  text-decoration: none;
  margin-right: 2rem;
  color: $text_color;
}
